*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;

}
.navbar{
    display: flex; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}


.nav-list{
    width: 50%;
    
    display: flex;
    align-items: center;

}
.navbarfa{
    display: flexbox; 
    
    align-items: center;
    justify-content: center;
    position:relative ;
    margin-top: 40px;
   
}

.nav-listfa{
    width: 50%;
    
    display: flex;
    align-items: center;

}
.nav-list h1{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;

}

.nav-list li a:hover{
    
    color: grey;
}

.rightnav{
    
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('student 3.webp');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 85vh;
}
.first{
    height: 82vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.box-mains{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    
    height: 80%;
}
.firstHalf{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf img{
    width: 70%;
    border: 4px solid white ;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;

}
.text-small{
    font-size: 18px;

}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;

}    

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.secRight{
    height: 500px;
    display: flex;
    align-content: center;
    justify-content:  space-evenly;
    margin: auto;
}